html {
  height: 100%;
}

body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: #000;
  height: 100%;
}

#root {
  height: 100%;
}

@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/global/global.css);
@import url(./blocks/content/content.css);
@import url(./blocks/link/link.css);
@import url(./blocks/link/_hover/link_hover.css);
@import url(./blocks/link/_type/link_type_header.css);
@import url(./blocks/link/_type/link_type_dark.css);
@import url(./blocks/button-hover/button-hover.css);
@import url(./blocks/page/page.css);
@import url(./blocks/page/__container/page__container.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__links/header__links.css);
@import url(./blocks/header/__info/header__info.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__add-avatar-button/profile__add-avatar-button.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__text/profile__text.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/cards-list/cards-list.css);
@import url(./blocks/card/card.css);
@import url(./blocks/card/__container/card__container.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__like-container/card__like-container.css);
@import url(./blocks/card/__like/card__like.css);
@import url(./blocks/card/__like/_active/card__like_active.css);
@import url(./blocks/card/__like-count/card__like-count.css);
@import url(./blocks/card/__title/card__title.css);
@import url(./blocks/card/__delete/card__delete.css);
@import url(./blocks/card/__delete/_visible/card__delete_visible.css);
@import url(./blocks/card/__delete/_hidden/card__delete_hidden.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__author/footer__author.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/_type/popup__title_type_info.css);

@import url(./blocks/popup/__profile-info/popup__profile-info.css);
@import url(./blocks/input/input.css);
@import url(./blocks/input/_error/input_type_error.css);
@import url(./blocks/input/_theme/input_theme_black.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__error/_visible/popup__error_visible.css);
@import url(./blocks/popup/__submit/popup__submit.css);
@import url(./blocks/popup/__submit/_disabled/popup__submit_disabled.css);
@import url(./blocks/popup/__img-status/popup__img-status.css);

@import url(./blocks/popup-open-card/popup-open-card.css);
@import url(./blocks/popup-open-card/_opened/popup-open-card_opened.css);
@import url(./blocks/popup-open-card/__container/popup-open-card__container.css);
@import url(./blocks/popup-open-card/__image/popup-open-card__image.css);
@import url(./blocks/popup-open-card/__title/popup-open-card__title.css);
@import url(./blocks/auth-container/auth-container.css);
@import url(./blocks/auth-container/__title/auth-container__title.css);
@import url(./blocks/auth-container/__button-submit/auth-container__button-submit.css);
@import url(./blocks/auth-container/__hint/auth-container__hint.css);
